{% extends "base.html" %} {% load staticfiles %}


{% block content %}


<div id="page-index">
    <div class="dashboard-cards">
        <div class="row row-break" style="height: 100px;"></div>


        <div class="row row-title-cards">
            <div class="col col-sm-12  col-md-4  col-lg-3">
                <a class="nav-link" href=" {% url 'ballincollig:ballincollig' %}">
                    <div class="card card-menu">
                        <img src="static/img/ballincollig.jpg" class="card-img-top" alt="park">
                        <div class="card-body">
                            <p class="card-title">Ballincollig Properties (Area)</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col col-sm-12  col-md-4  col-lg-3">
                <a class="nav-link" href=" {% url 'ballincollig:ballincollig-year' %}">
                    <div class="card card-menu">
                        <img src="static/img/ballincollig.jpg" class="card-img-top" alt="park">
                        <div class="card-body">
                            <p class="card-title">Ballincollig Properties (Date)</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col col-sm-12  col-md-4  col-lg-3">
                <a class="nav-link" href=" {% url 'island_property:island-home' %}">
                    <div class="card card-menu">
                        <img src="static/img/tenerife.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">Tenerife Properties</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-12  col-md-4  col-lg-3">
                <a class="nav-link" href=" {% url 'neom:neom-home' %}">
                    <div class="card card-menu">
                        <img src="static/img/ballincollig.jpg" class="card-img-top" alt="park">
                        <div class="card-body">
                            <p class="card-title">Neom jobs</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}