{% extends "base.html" %} {% load staticfiles %}


{% block content %}

<div id="page-index">
  <div class="dashboard-cards">
    <div class="row plain-element">
      <div class="col s12 m12 l12  plain-element">
        <div class="row row-title plain-element">

          <br><br><br>


        </div>
      </div>
      <div class="row plain-element">

        <div class="col s12 m12 l2 plain-element" id="activeTrendsColumn">
          <div class="row plain-element">
            <div class="card card-side card-side-left">
              <div class="section-link">

                <a href="/"><i class="fas fa-utensils"></i> &nbsp; Add restaurant
                </a>

              </div>
              <div class="section-link">
                <a href="/"><i class="fas fa-map-marker-alt"></i> &nbsp; Add POI </a>

              </div>
              <div class="section-link">
                <a href="/"><i class="fas fa-home"></i> &nbsp; Add Accomodation
                </a>

              </div>
              <div class="section-link">
                <a href="/"><i class="fas fa-car"></i> &nbsp; Add Car
                </a>

              </div>
              <div class="section-link">
                <a href="/"><i class="far fa-calendar-alt"></i> &nbsp; Add Event
                </a>

              </div>
               <div class="section-link">
                <a href="/"><i class="fas fa-wine-glass-alt"></i> &nbsp; Add Wine
                </a>

              </div>
            </div>
          </div>

        </div>


      </div>

    </div>
  </div>

  {% endblock %}

