{% extends "base.html" %} {% load staticfiles %}


{% block content %}

<div id="page-index">
    <div class="dashboard-cards">

        <div class="row row-search">
            <div class="row plain-element left-align">
                <div class="search-container">

                    <div class="row searchbox-wrapper">
                        <form action="{% url 'ballincollig:search-year-query' %}" class="col s12 plain-element add-form" method="GET">
                        {% csrf_token %}
                            <input class="form-control" id="searchbox" type="text" placeholder="Search for Year"
                                   aria-label="Search for Area" name="sql_query">
                            <button class="btn-transparent" type="submit"><i class="fas fa-search search-icon"></i>
                            </button>
                        </form>
                    </div>


                </div>
            </div>

        </div>

        <br><br><br>
        <div class="row searchbox-wrapper ">

            {% if years %}
            {% for element in years %}
            <form action="{% url 'ballincollig:search-year' %}"
                  class="col col-sm-12 col-md-4  col-lg-2  plain-element add-form" method="GET">
                {% csrf_token %}
                <input type="hidden" id="area" name="year" value="{{element}}">

                <button type="submit" class="btn btn-pill"> {{element}}</button>
            </form>
            {% endfor %}
            {% endif %}

        </div>
        <br><br><br>

<div class="row plain-element">

            <div class="col s12 m12 l10  plain-element" id="restaurantTable">
                {{dataset|safe}}


            </div>


        </div>


    </div>
</div>

{% endblock %}
